{
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "global-require": "off",
    "function-paren-newline": "off",
    "react/destructuring-assignment": "off",
    "import/named": "off"
  }
}
